

        <div class="container-fluid" >
            <div class="row ig-toolbar">
                <div class="col-sm-1 " style="padding: 0;">
                    <p class="cc-section-title">ACCOUNTS</p>
                </div>                
            </div>
        </div>
        <app-account [ShowRefund]=false 
                     [ShowAdministrator]=false 
                     [ShowHighBalance]=false
                     [ShowIsActiveField]=false>
        </app-account>

        <!-- <app-add-update-account *ngIf = "this.SelectedAccount" [SelectedAccount]="this.SelectedAccount"></app-add-update-account> -->
